{{!-- Booking section now handled via modal --}}
{{!-- Formspree URL is passed to JavaScript via data attribute --}}
{{#if @custom.formspree_url}}
  <div data-formspree-url="{{@custom.formspree_url}}" style="display:none;"></div>
{{/if}}


