{{!-- Booking section now handled via modal --}}
{{!-- Calendly URL is passed to JavaScript via data attribute --}}
{{#if @custom.calendly_url}}
  <div data-calendly-url="{{@custom.calendly_url}}" style="display:none;"></div>
{{/if}}


