{{#if @custom.calendly_url}}
  <div class="calendly-inline-widget" data-url="{{@custom.calendly_url}}" style="min-width:320px;height:700px;"></div>
{{else}}
  <p>Set your Calendly URL in Design → Site-wide settings to enable booking.</p>
{{/if}}


