<footer class="footer-section">
    <div class="gh-container">
        <div class="footer-grid">
            {{!-- Brand Section --}}
            <div class="footer-brand">
                <div class="footer-logo">
                    <img src="{{asset "images/logo.svg"}}" alt="Flow State Fishing" class="footer-logo-svg" />
                </div>
                <p class="footer-description">
                    {{#if @custom.footer_blurb}}{{@custom.footer_blurb}}{{else}}We're here to help you master fly casting and have a ridiculously good time doing it. Life's too short for boring fishing lessons.{{/if}}
                </p>
                <div class="footer-credentials">
                    <p>Fully Licensed Fish Whisperer</p>
                </div>
            </div>
            
            {{!-- Quick Links --}}
            <div class="footer-links">
                <h4 class="footer-heading">Stuff</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about">Who We Are</a></li>
                    <li><a href="/#services">Ways to Fish</a></li>
                    <li><a href="/#gallery">Fish Pics</a></li>
                    <li><a href="#booking" class="footer-book-link">Let's Go Fishing</a></li>
                    <li><a href="/blog/">Fish Tales</a></li>
                </ul>
            </div>
            
            {{!-- Contact --}}
            <div class="footer-contact">
                <h4 class="footer-heading">Hit Us Up</h4>
                <ul>
                    <li>
                        <a href="mailto:tanner@flowstatefishing.com">tanner@flowstatefishing.com</a>
                    </li>
                    <li>
                        <a href="https://instagram.com/flowstatefishingllc" target="_blank" rel="noopener">@flowstatefishingllc</a>
                    </li>
                    <li>
                        <span>Santa Fe, NM (Where the fish are)</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p class="footer-copyright">
                &copy; 2025 Flow State Fishing. Don't steal our stuff.
            </p>
            <p class="footer-quote">
                "Tight lines and good vibes only."
            </p>
        </div>
    </div>
</footer>