<div class="hero-content">
  <div class="hero-heading">
    <h1 class="hero-title">
      <span class="title-line-1">Find Your</span>
      <span class="title-line-2">
        <span class="flow-text">Flowstate</span>
      </span>
    </h1>
  </div>
  
  <p class="hero-description">
    Wanna catch fish? Hell yeah you do. Let's get you slapping the water and tricking trout in the right way. Flow, like the background image in this section.
  </p>
  
  <div class="hero-actions">
    <a class="btn btn-primary btn-lg hero-cta" href="#booking">
      Let's get fishy
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
    </a>
    <a class="btn btn-outline-accent btn-lg btn-stories" href="/blog/">
      Fish Tales
    </a>
  </div>
</div>

<div class="hero-image">
  <div class="hero-image-wrapper">
    <img src="{{asset "images/hero.png"}}" alt="Psychedelic desert landscape with vibrant colors and surreal fly fishing scene" />
    <div class="hero-image-overlay"></div>
    <div class="be-like-her-box">
      <span class="be-like-her-text">Be like her!</span>
      <svg class="be-like-her-arrow" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <marker id="arrowhead" markerWidth="10" markerHeight="10" refX="9" refY="3" orient="auto">
            <polygon points="0 0, 10 3, 0 6" fill="#F57483" />
          </marker>
        </defs>
        <path d="M 70 80 Q 50 60 30 40" stroke="#F57483" stroke-width="3" fill="none" marker-end="url(#arrowhead)" />
      </svg>
    </div>
  </div>
</div>
</content>
</invoke>