<nav class="nav">
    <li class="nav-home"><a href="/">Home</a></li>
    <li class="nav-about"><a href="/#about">About</a></li>
    <li class="nav-services"><a href="/services/">Services</a></li>
    <li class="nav-blog"><a href="/blog/">Blog</a></li>
    <li class="nav-book"><a href="#booking" class="gh-button gh-button-primary">Book Now</a></li>
</nav>