{{!< default}}

<section class="hero-section">
  <div class="gh-container hero-inner">
    {{> "hero"}}
  </div>
  </section>

<section id="about" class="about-section">
  <div class="gh-container">
    {{> "about"}}
  </div>
</section>

<section class="gallery-section">
  <div class="gh-container">
    {{> "gallery"}}
  </div>
</section>


